# Supabase Dashboard → Connect → Project URL dan Publishable key
NEXT_PUBLIC_SUPABASE_URL=https://piaeaiootkcgmxgpmmpd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0-gTtzMUV7H-Icc7j14F3A_njHUAIg6